<html>
    <head>
        <title>YB Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">YB Blog</a></h1>
        </div>

        <div>
            <p>published: 13.11.2019, 22:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Lord of the Rings Trilgoy</p>
        </div>

        <div>
            <p>published: 14.11.2019, 18:00</p>
            <h2><a href="">My second post</a></h2>
            <p>The Matrix Trilogy</p>
        </div>
    </body>
</html>